.login-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  margin: auto;
  width: clamp(300px, 50%, 400px);
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-group input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid var(--gray-color);
  border-radius: 0.325em;
}

.primary-btn {
  font-size: 1rem;
}

.errorLabel {
  color: var(--rose-color);
}
.errorInput {
  border-color: var(--rose-color) !important;
}
.error-message {
  color: var(--rose-color);
  font-size: 0.9rem;
}
