<div class="container">
  <div class="img-container">
    <img [src]="item().itemInfo.image" [alt]="item().itemInfo.title" />
  </div>

  <p class="title">{{ item().itemInfo.title }}</p>

  <p class="price">
    <span class="price-calculation">
      {{ item().itemInfo.price.toLocaleString('en', { style: 'currency', currency: 'USD' }) }}
    </span>

    <span class="price-calculation">x {{ item().quantity }}</span>

    <span class="price-total">
      {{ item().totalPrice.toLocaleString('en', { style: 'currency', currency: 'USD' }) }}
    </span>
  </p>
</div>
