<header>
  <nav [ngClass]="{ desktopLayout: desktopNavigationActive }">
    <button
      aria-label="Open navigation"
      class="icon-btn btn-open-mobile-nav"
      [ngClass]="{ invisible: desktopNavigationActive }"
      (click)="mobileNavigationActive = true"
    >
      <fa-icon [icon]="faBars" />
    </button>
    <h1>
      <a routerLink="">Shop</a>
    </h1>

    <div
      class="off-grid mobile-nav-container"
      [ngClass]="{ shown: mobileNavigationActive, invisible: desktopNavigationActive }"
    >
      <button
        aria-label="Close navigation"
        class="icon-btn btn-close-mobile-nav"
        (click)="mobileNavigationActive = false"
      >
        <fa-icon [icon]="faX" />
      </button>
      <ul class="navbar nav-mobile">
        <li><a class="nav-link" routerLink="/category/men's clothing">Men's clothing</a></li>
        <li><a class="nav-link" routerLink="/category/women's clothing">Women's clothing</a></li>
        <li><a class="nav-link" routerLink="/category/jewelery">Jewelery</a></li>
        <li><a class="nav-link" routerLink="/category/electronics">Electronics</a></li>
      </ul>
    </div>

    <ul class="navbar nav-desktop" [ngClass]="{ invisible: !desktopNavigationActive }">
      <li><a class="nav-link" routerLink="/category/men's clothing">Men's clothing</a></li>
      <li><a class="nav-link" routerLink="/category/women's clothing">Women's clothing</a></li>
      <li><a class="nav-link" routerLink="/category/jewelery">Jewelery</a></li>
      <li><a class="nav-link" routerLink="/category/electronics">Electronics</a></li>
    </ul>

    <div class="right-icons">
      <button
        aria-label="See cart"
        class="icon-btn btn-cart"
        (click)="userOpen = false; cartOpen = !cartOpen"
      >
        <fa-icon [icon]="faCart" />
        @if (cartItems&&cartItems.length > 0) {<span class="cart-badge"> {{ itemQuantity }} </span>}
      </button>

      <button
        aria-label="See user"
        class="icon-btn"
        (click)="cartOpen = false; userOpen = !userOpen"
      >
        <fa-icon [icon]="faUser" />
      </button>
    </div>

    <div class="off-grid off-grid-right" [ngClass]="{ shown: cartOpen }">
      @for (item of cartItems; track item.id) {<app-cart-item [item]="item" />}
      <!--  -->
      @if (!cartItems||cartItems.length === 0){
      <p class="empty-message">Your cart is empty</p>
      }
      <!--  -->
      @if (cartItems&&cartItems.length > 0){
      <div class="cart-btns">
        <button (click)="cartOpen = false" routerLink="checkout" class="primary-btn sm-primary-btn">
          <fa-icon [icon]="faCreditCard" />
          Checkout
        </button>

        <button class="rose-btn btn-clear-cart" (click)="clearCart()">
          <fa-icon [icon]="faTrash" />
          Clear cart
        </button>
      </div>
      }
    </div>

    <div class="off-grid off-grid-right" [ngClass]="{ shown: userOpen }">
      @if (!isLoggedIn) {
      <p class="empty-message" style="text-align: start">You are not logged in</p>
      <br />
      <button class="primary-btn sm-primary-btn" (click)="userOpen = false" routerLink="/login">
        <fa-icon [icon]="faLogin" />
        Login
      </button>
      }
      <!--  -->
      @if (isLoggedIn) {
      <p>You are logged in as {{ loggedUser?.username }}</p>
      <p>Your email is {{ loggedUser?.email?.slice(0, 3)?.padEnd(15, '*') }}</p>
      <p>Your postal code is {{ loggedUser?.postalCode?.slice(0, 2)?.padEnd(10, '*') }}</p>
      <br />
      <button class="rose-btn" (click)="logOut()">
        <fa-icon [icon]="faLogout" />
        Logout</button
      >}
    </div>
  </nav>
</header>
