<header>
  <nav [ngClass]="{ desktopLayout: desktopNavigationActive }">
    <button
      aria-label="Open navigation"
      class="btn btn-open-mobile-nav"
      [ngClass]="{ invisible: desktopNavigationActive }"
      (click)="mobileNavigationActive = true"
    >
      <fa-icon [icon]="faBars" />
    </button>
    <h1>
      <a routerLink="">Shop</a>
    </h1>

    <div
      class="off-grid mobile-nav-container"
      [ngClass]="{ shown: mobileNavigationActive, invisible: desktopNavigationActive }"
    >
      <button
        aria-label="Close navigation"
        class="btn btn-close-mobile-nav"
        (click)="mobileNavigationActive = false"
      >
        <fa-icon [icon]="faX" />
      </button>
      <ul class="navbar nav-mobile">
        <li><a class="nav-link" routerLink="/category/men's clothing">Men's clothing</a></li>
        <li><a class="nav-link" routerLink="/category/women's clothing">Women's clothing</a></li>
        <li><a class="nav-link" routerLink="/category/jewelery">Jewelery</a></li>
        <li><a class="nav-link" routerLink="/category/electronics">Electronics</a></li>
      </ul>
    </div>

    <ul class="navbar nav-desktop" [ngClass]="{ invisible: !desktopNavigationActive }">
      <li><a class="nav-link" routerLink="/category/men's clothing">Men's clothing</a></li>
      <li><a class="nav-link" routerLink="/category/women's clothing">Women's clothing</a></li>
      <li><a class="nav-link" routerLink="/category/jewelery">Jewelery</a></li>
      <li><a class="nav-link" routerLink="/category/electronics">Electronics</a></li>
    </ul>

    <div>
      <button aria-label="See cart" class="btn btn-cart" (click)="cartOpen = !cartOpen">
        <fa-icon [icon]="faCart" />
        @if (cartItems&&cartItems.length > 0) {<span class="cart-badge">
          {{ cartItems.length }} </span
        >}
      </button>
    </div>

    <div class="off-grid cart-container" [ngClass]="{ shown: cartOpen }">
      @for (item of cartItems; track item.id) {<app-cart-item [item]="item" />}
      <!--  -->
      @if (!cartItems||cartItems.length === 0){
      <p class="empty-message">Your cart is empty</p>
      }
      <!--  -->
      @if (cartItems&&cartItems.length > 0){
      <div class="cart-btns">
        <a routerLink="checkout" class="btn-checkout">
          <fa-icon [icon]="faCreditCard" />
          Checkout</a
        >

        <button class="btn btn-clear-cart" (click)="clearCart()">
          <fa-icon [icon]="faTrash" />
          Clear cart
        </button>
      </div>
      }
    </div>
  </nav>
</header>
