<header>
  <button
    aria-label="Open navigation"
    class="btn-nav-mobile"
    [ngClass]="{ invisible: desktopNavigationActive }"
  >
    <fa-icon [icon]="faBars" />
  </button>

  <h1>
    <a routerLink="">Shop</a>
  </h1>

  <nav>
    <div class="mobile-nav-container" [ngClass]="{ invisible: desktopNavigationActive }">
      <ul class="navbar nav-mobile">
        <li><a routerLink="/category/men's clothing">Men's clothing</a></li>
        <li><a routerLink="/category/women's clothing">Women's clothing</a></li>
        <li><a routerLink="/category/jewelery">Jewelery</a></li>
        <li><a routerLink="/category/electronics">Electronics</a></li>
      </ul>
    </div>

    <ul class="navbar nav-desktop" [ngClass]="{ invisible: !desktopNavigationActive }">
      <li><a routerLink="/category/men's clothing">Men's clothing</a></li>
      <li><a routerLink="/category/women's clothing">Women's clothing</a></li>
      <li><a routerLink="/category/jewelery">Jewelery</a></li>
      <li><a routerLink="/category/electronics">Electronics</a></li>
    </ul>
  </nav>
</header>
