<div class="container">
  <div class="img-container">
    <img [src]="item().itemInfo.image" [alt]="item().itemInfo.title" />
  </div>

  <div class="details">
    <p class="title">{{ item().itemInfo.title }}</p>

    <p>
      <span class="price-calculation">
        {{ item().itemInfo.price.toLocaleString('en', { style: 'currency', currency: 'USD' }) }}
        x {{ item().quantity }}
      </span>

      <span class="price-total">
        {{ item().totalPrice.toLocaleString('en', { style: 'currency', currency: 'USD' }) }}
      </span>
    </p>
  </div>

  <button aria-label="Reduce quantity of item" class="btn" (click)="reduceItem()">
    <fa-icon [icon]="faMinus" />
  </button>
</div>
