.container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

img {
  width: 2rem;
  height: 2rem;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.3rem;
  font-size: 0.9rem;
}
.title {
  color: var(--dark-gray);
}
.price {
  font-weight: bold;
}
