.container {
  display: grid;
  grid-template-columns: 2fr 9fr 1fr;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.img-container {
  margin: auto;
}
img {
  width: 80%;
  object-fit: cover;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.3rem;
  font-size: 0.9rem;
}
.title {
  color: var(--dark-gray);
}

.price-calculation {
  color: var(--gray-color);
  font-weight: normal;
}
.price-total {
  font-weight: bold;
}

.btn {
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.btn:hover {
  color: var(--rose-color-light);
}
.btn:active {
  color: var(--rose-color-dark);
}
