@if (product().title === '') {
<p class="loading">Loading...</p>
}

<div class="product-container" [ngClass]="{ breakpointMd: flexRow }">
  <div class="img-container">
    <img [src]="product().image" [alt]="product().title" />
  </div>

  <div class="info-container" [ngClass]="{ breakpointMd: flexRow }">
    <h2>{{ product().title }}</h2>

    <p>
      <a class="category" routerLink="/category/{{ product().category }}">{{
        capitalizedCategory
      }}</a>
    </p>

    <p class="description">{{ product().description }}</p>

    <div class="rating">
      <div class="stars">
        @for (star of stars; track $index) {<fa-icon [icon]="faStar" />}
        <!--  -->
        @if (product().rating.rate % 1 !== 0) {<fa-icon [icon]="faHalfStar" />}
        <!--  -->
        @for (missingStar of missingStars; track $index) {<fa-icon [icon]="faEmptyStar" />}
      </div>

      <span>{{ product().rating.rate }}</span>

      <span> ({{ product().rating.count }}) </span>
    </div>

    <p class="price">
      {{ product().price.toLocaleString('en', { style: 'currency', currency: 'USD' }) }}
    </p>

    <button class="primary-btn" (click)="addToCart()">
      <fa-icon [icon]="faCart" />
      Add to Cart
    </button>
  </div>
</div>
