.product-container {
  max-width: 450px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-container.breakpointMd {
  flex-direction: row;
  justify-content: space-between;
  max-width: 85%;
  height: 80vh;
}

.img-container {
  width: clamp(300px, 500px, 40%);
}
img {
  width: 70%;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}
.info-container.breakpointMd {
  max-width: 50%;
}

.category {
  font-size: 1.25rem;
  font-weight: semibold;
  color: #555;
}

.rating {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
fa-icon {
  color: #ffc107;
}
.rating span {
  color: #555;
}

.price {
  font-size: 2rem;
  font-weight: bold;
}
.cart-btn {
  padding: 0.5em 1em;
  background-color: #273be2;
  border: none;
  border-radius: 0.375em;
  font-size: 1.25rem;
  color: white;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
.cart-btn fa-icon {
  color: inherit;
}
.cart-btn:hover {
  background-color: #295be6;
}
.cart-btn:active {
  background-color: #201ddb;
}
