.img-container {
  width: clamp(300px, 500px, 50%);
  margin: auto;
}
img {
  width: 100%;
}

.rating {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
fa-icon {
  color: #ffc107;
}
.rating span {
  color: #555;
}
