.img-container {
  width: clamp(300px, 500px, 50%);
  margin: auto;
}
img {
  width: 100%;
}

.category {
  font-size: 1.25rem;
  font-weight: semibold;
  color: #555;
}

.rating {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
fa-icon {
  color: #ffc107;
}
.rating span {
  color: #555;
}

.price {
  font-size: 2rem;
  font-weight: bold;
  color: #222;
}
