@if (!cartItems||cartItems.length === 0){
<p class="empty-message gray-text">Your cart is empty</p>
}
<!--  -->
@if (cartItems&&cartItems.length > 0){
<div class="checkout-container">
  <section class="items-container">
    @for (item of cartItems; track item.id) {<app-checkout-item [item]="item" />}
  </section>

  <section class="payment-container">
    <div class="shipping-options">
      <p style="font-weight: bold">Shipping</p>

      <div class="option">
        <input
          type="radio"
          name="shippingOpt"
          id="regularShip"
          value="3.99"
          checked
          (change)="handleShippingSelect($event)"
          [ngClass]="{ selected: shipping() === 3.99 }"
        />
        <label for="regularShip"> <fa-icon [icon]="faTruck" /> Regular </label>
      </div>

      <div class="option">
        <input
          type="radio"
          name="shippingOpt"
          id="fastShip"
          value="5.99"
          (change)="handleShippingSelect($event)"
          [ngClass]="{ selected: shipping() === 5.99 }"
        />
        <label for="fastShip"> <fa-icon [icon]="faTruckFast" /> Fast </label>
      </div>

      <div class="option">
        <input
          type="radio"
          name="shippingOpt"
          id="sameDayShip"
          value="9.99"
          (change)="handleShippingSelect($event)"
          [ngClass]="{ selected: shipping() === 9.99 }"
        />
        <label for="sameDayShip"> <fa-icon [icon]="faSun" /> Same day </label>
      </div>
    </div>

    <div class="payment-options">
      <p style="font-weight: bold">Payment</p>

      <div class="option">
        <input
          type="radio"
          name="paymentOpt"
          id="payBoleto"
          value="boleto"
          checked
          (change)="handlePaymentSelect($event)"
          [ngClass]="{ selected: payment() === 'boleto' }"
        />
        <label for="payBoleto"> <fa-icon [icon]="faReceipt" /> Boleto </label>
      </div>

      <div class="option">
        <input
          type="radio"
          name="paymentOpt"
          id="payPix"
          value="Pix"
          (change)="handlePaymentSelect($event)"
          [ngClass]="{ selected: payment() === 'Pix' }"
        />
        <label for="payPix"> <fa-icon [icon]="faQrcode" /> Pix </label>
      </div>

      <div class="option">
        <input
          type="radio"
          name="paymentOpt"
          id="payDebit"
          value="debit"
          (change)="handlePaymentSelect($event)"
          [ngClass]="{ selected: payment() === 'debit' }"
        />
        <label for="payDebit"> <fa-icon [icon]="faCreditCard" /> Debit </label>
      </div>

      <div class="option">
        <input
          type="radio"
          name="paymentOpt"
          id="payCredit"
          value="credit"
          (change)="handlePaymentSelect($event)"
          [ngClass]="{ selected: payment() === 'credit' }"
        />
        <label for="payCredit"> <fa-icon [icon]="faCreditCard" /> Credit </label>
      </div>

      @if (payment()==='credit') {
      <label for="installments">
        Pay over
        <input
          aria-label="Number of installments"
          type="number"
          min="1"
          max="12"
          name="installments"
          id="installments"
          [value]="installments()"
          (change)="handleChangeInstallments($event)"
        />
        months
      </label>
      }
    </div>
  </section>

  <section class="final-price">
    <div class="text-row">
      <span class="gray-text">Shipping: </span>
      <span>
        {{ shipping().toLocaleString('en', { style: 'currency', currency: 'USD' }) }}
      </span>
    </div>

    <div class="text-row">
      <span class="gray-text">Items: </span>
      <span>
        {{ itemPrice.toLocaleString('en', { style: 'currency', currency: 'USD' }) }}
      </span>
    </div>

    @if (payment()==='credit'){
    <div class="text-row">
      <span class="gray-text">Interest: </span>
      <span>
        {{ interestRate.toLocaleString('en', { style: 'currency', currency: 'USD' }) }}
      </span>
    </div>
    }

    <div class="text-row">
      <span class="gray-text">Total: </span>
      <span class="total-price">
        {{ total.toLocaleString('en', { style: 'currency', currency: 'USD' }) }}
      </span>
    </div>

    @if (payment()==='credit'){
    <div class="text-row">
      <span class="gray-text">Billed monthly as: </span>
      <span class="total-price">
        {{ installmentValue.toLocaleString('en', { style: 'currency', currency: 'USD' }) }}
      </span>
      <span> x{{ installments() }} </span>
    </div>
    }
    <!--  -->
    @if (!enableBuying()) {
    <p class="error-message">Escolha uma opção de frete e de pagamento para prosseguir</p>
    }

    <button class="purchase-btn" routerLink="/purchase-complete" [disabled]="!enableBuying()">
      <fa-icon [icon]="faBasket" />
      Finish purchase
    </button>
  </section>
</div>
}
