@if (!cartItems||cartItems.length === 0){
<p class="empty-message gray-text">Your cart is empty</p>
}
<!--  -->
@if (cartItems&&cartItems.length > 0){
<div class="checkout-container">
  <section class="items-container">
    @for (item of cartItems; track item.id) {<app-checkout-item [item]="item" />}
  </section>

  <section class="final-price">
    <div class="text-row">
      <span class="gray-text">Shipping: </span>
      <span>
        {{ shipping().toLocaleString('en', { style: 'currency', currency: 'USD' }) }}
      </span>
    </div>

    <div class="text-row">
      <span class="gray-text">Items: </span>
      <span>
        {{ itemPrice.toLocaleString('en', { style: 'currency', currency: 'USD' }) }}
      </span>
    </div>

    <div class="text-row">
      <span class="gray-text">Total: </span>
      <span class="total-price">
        {{ total.toLocaleString('en', { style: 'currency', currency: 'USD' }) }}
      </span>
    </div>

    <button class="purchase-btn">
      <fa-icon [icon]="faBasket" />
      Finish purchase
    </button>
  </section>
</div>
}
