.empty-message {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 80vh;
}

.gray-text {
  color: var(--gray-color);
}

.checkout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 8vw;
}

.items-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-width: 300px;
  width: 80%;
  padding-bottom: 1.5rem;
}

.payment-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: end;
  gap: 2rem;
  margin-top: 2rem;
  width: 100%;
  border-top: 1px solid var(--light-gray);
}

.payment-container > div,
.final-price {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  margin-top: 3rem;
}

.option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.option input,
.option label {
  cursor: pointer;
  transition: color 150ms ease-in-out;
}
.selected,
.selected + label {
  color: var(--primary-color);
}

input#installments {
  width: 3rem;
  padding: 0.25em;
  font-size: 0.9rem;
  border: 1px solid var(--gray-color);
  border-radius: 0.25rem;
}

.text-row {
  display: flex;
  align-items: end;
  gap: 0.5rem;
  font-size: 0.9rem;
}
.text-row:last-child {
  padding-top: 1rem;
  font-size: 1.15rem;
}

.total-price {
  font-size: 1.25em;
  font-weight: semibold;
}

.purchase-btn {
  margin: 1.5rem 0;
  padding: 0.5em 1em;
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.375em;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
.purchase-btn fa-icon {
  color: inherit;
}
.purchase-btn:hover {
  background-color: var(--primary-color-light);
}
.purchase-btn:active {
  background-color: var(--primary-color-dark);
}

.error-message {
  margin-top: 2rem;
  color: var(--rose-color);
  font-size: 0.9rem;
  text-align: right;
}
.purchase-btn:disabled {
  background-color: var(--gray-color);
  cursor: auto;
}
