@if (!cartItems||cartItems.length === 0){
<p class="empty-message gray-text">Your cart is empty</p>
}
<!--  -->
@if (cartItems&&cartItems.length > 0){
<section class="checkout-container">
  <div class="items-container">
    @for (item of cartItems; track item.id) {<app-checkout-item [item]="item" />}
  </div>

  <section class="final-price">
    <div class="text-row">
      <span class="gray-text">Total: </span>
      <span class="total-price">
        {{ totalPrice.toLocaleString('en', { style: 'currency', currency: 'USD' }) }}
      </span>
    </div>
  </section>
</section>
}
