:root {
  --primary-color: #155dfc;
  --primary-color-light: #2b7fff;
  --primary-color-dark: #1447e6;
  --rose-color: #ec003f;
  --rose-color-light: #ff2056;
  --rose-color-dark: #c70036;
  --amber-color: #ffba00;
  --gray-color: #6a7282;
  --light-gray: #4a5565;
  --dark-gray: #364153;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.primary-btn {
  padding: 0.5em 1em;
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.375em;
  font-size: 1.25rem;
  color: white;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
.primary-btn fa-icon {
  color: inherit !important;
}
.primary-btn:hover {
  background-color: var(--primary-color-light);
}
.primary-btn:active {
  background-color: var(--primary-color-dark);
}
.primary-btn:disabled {
  background-color: var(--gray-color);
  cursor: auto;
}
