:root {
  --primary-color: #155dfc;
  --primary-color-light: #2b7fff;
  --primary-color-dark: #1447e6;
  --rose-color: #ec003f;
  --rose-color-light: #ff2056;
  --rose-color-dark: #c70036;
  --amber-color: #ffba00;
  --gray-color: #6a7282;
  --light-gray: #4a5565;
  --dark-gray: #364153;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
