<div class="card-container">
  <img [src]="item().image" alt="Imagem de teste" />

  <div class="top">
    <p class="item-title">{{ item().title }}</p>
    <div class="rating">
      <div class="stars">
        @for (star of stars; track $index) {<fa-icon [icon]="faStar" />}
        <!--  -->
        @if (item().rating.rate % 1 !== 0) {<fa-icon [icon]="faHalfStar" />}
        <!--  -->
        @for (missingStar of missingStars; track $index) {<fa-icon [icon]="faEmptyStar" />}
      </div>
      <span>{{ item().rating.rate }}</span>
      <span> ({{ item().rating.count }}) </span>
    </div>
  </div>

  <p class="item-price">
    {{ item().price.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) }}
  </p>
</div>
